@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BillHdr.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#CategoryCode').combobox('setValue', '@ViewBag.Model.CategoryID');
        $("#SupplierID").combobox('setValue', '@ViewBag.Model.SupplierID');
    });
    function afterEdit() {
        window.parent.aterUpdateEdit();
    }

    function SubmitForm() {
        $('#ff').form('submit', {
            url: "/Product/Save",
            onSubmit: function () {
            },
            success: function (data) {
                afterEdit();
            }
        });
    }
</script>
<form action="/" id="ff" method="post">
    <div style="width: 800px; text-align: center; height: 100%; margin: 0px; padding-bottom: 45px;">
        <input type="hidden" name="ProAttr" id="ProAttr" value="" />
        <input type="hidden" name="ID" id="ProID" value="@ViewBag.Model.ID" />
        <table style="padding: 10px 30px 0px 30px; width: 100%;">
            <tr>
                <td style="width: 20%; text-align: right;">产品名称</td>
                <td colspan="3" style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.Title'" style="width: 94%;" id="Title" type="text" name="Title">
                    </input>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right;">产品编号</td>
                <td style="height: 35px; width: 30%;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.SKU',readonly:true" style="width: 180px;" id="SKU" name="SKU"></input>
                </td>

                <td style="width: 20%; text-align: right;">商家编号</td>
                <td style="height: 35px; width: 30%;">
                    <select id="SupplierID" class="easyui-combobox" name="SupplierID" style="width: 180px;">
                        <option value="2123">GLB00001</option>
                        <option value="2120">GLB00002</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right;">款式编号</td>
                <td style="height: 35px; width: 30%;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.ManufacturerCode'" style="width: 180px;" id="ManufacturerCode" name="ManufacturerCode"></input>
                </td>

                <td style="width: 20%; text-align: right;">来源链接</td>
                <td style="height: 35px; width: 30%;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.Source'" style="width: 180px;" id="Source" name="Source"></input>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; text-align: right;">商品类别</td>
                <td style="height: 35px;">
                    <select id="CategoryCode" class="easyui-combobox" name="CategoryCode" style="width: 180px;">
                        <option value="0">请选择商品分配......</option>
                        <option value="FXP">汽配-方向盘套</option>
                        <option value="YSB">汽配-钥匙包</option>
                        <option value="NSY">女装-上衣</option>
                        <option value="LYQ">女装-连衣裙</option>
                    </select>
                </td>
                <td style="width: 20%; text-align: right;">销售价</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.SalePrice'" style="width: 180px;" id="SalePrice" name="SalePrice"></input>
                </td>

            </tr>
            <tr>
                <td style="width: 20%; text-align: right;">运费</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.ShippingFee'" style="width: 180px;" id="ShippingFee" name="ShippingFee"></input>
                </td>

                <td style="width: 20%; text-align: right;">成本</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.Cost'" style="width: 180px;" id="Cost" name="Cost"></input>
                </td>
            </tr> 
            <tr>
                <td style="width: 20%; text-align: right;">毛重</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.GrossWeight'" style="width: 180px;" id="GrossWeight" name="GrossWeight"></input>
                </td>

                <td style="width: 20%; text-align: right;">净重</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.NetWeight'" style="width: 180px;" id="NetWeight" name="NetWeight"></input>
                </td>
            </tr> 
            <tr>
                <td style="width: 20%; text-align: right;">颜色</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.Color'" style="width: 180px;" id="Color" name="Color"></input>
                </td>

                <td style="width: 20%; text-align: right;">尺码/规格</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.CodeNum'" style="width: 180px;" id="CodeNum" name="CodeNum"></input>
                </td>
            </tr> 
            <tr>
                <td style="width: 20%; text-align: right;">供销数量</td>
                <td style="height: 35px;">
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.GxQty'" style="width: 180px;" id="GxQty" name="GxQty"></input>
                </td>

                <td style="width: 20%; text-align: right;">备注</td>
                <td style="height: 35px;"> 
                    <input class="easyui-textbox" data-options="value:'@ViewBag.Model.Remark'" style="width: 180px;" id="Remark" name="Remark"></input>
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; text-align: center; position: fixed; bottom: 0px; padding-top: 10px; background-color: #D4D4D4; height: 40px;">
        <a id="btnOk" href="javascript:void(0)" onclick="javascript:SubmitForm()" class="easyui-linkbutton" data-options="iconCls:'icon-image_Save'">确认</a>
        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-image_CloseBuse'">取消</a>
    </div>
</form>
